:root {
  --bg-clr: hsl(180, 100%, 10%);
  --text-clr: hsl(180, 100%, 50%);
  --overlay-shadow: hsla(180, 100%, 50%, 0.1);

  --space-s: 0.5rem;
  --space-m: 1rem;
  --space-l: 1.5rem;

  --radius-m: 1rem;
}

.app-title {
  font-size: clamp(1.5rem, 0.9226rem + 1.8476vw, 2.5rem);
  color: var(--text-clr);
  margin-bottom: var(--space-m);
  text-align: center;
  line-height: 1.2;
}

.weather-form {
  display: flex;
  justify-content: space-between;
  width: min(25rem, 100%);
  background-color: var(--overlay-shadow);
  overflow: hidden;
  border-radius: var(--radius-m);
}

.weather-form > input[type="text"] {
  flex-grow: 1;
  min-width: 0;
  background-color: transparent;
  font-size: clamp(0.9rem, 0.7845rem + 0.3695vw, 1.1rem);
  color: var(--text-clr);
  padding: var(--space-s) var(--space-m);
}

.weather-form > button[type="submit"] {
  flex-shrink: 0;
  font-size: 1.1rem;
  font-weight: 600;
  background-color: var(--text-clr);
  color: var(--bg-clr);
  padding-inline: var(--space-m);
  cursor: pointer;
  display: flex;
  align-items: center;
}

.error-msg {
  color: hsl(0, 100%, 65%);
  margin-top: var(--space-m);
}

.card {
  background-image: linear-gradient(
    180deg,
    hsl(195, 53%, 69%),
    hsl(60, 100%, 55%)
  );
  padding: var(--space-l);
  border-radius: var(--radius-m);
  margin-top: var(--space-l);
}

.city-display,
.temp-display,
.desc-display {
  text-align: center;
}

.city-display {
  font-size: clamp(1.5rem, 0.9226rem + 1.8476vw, 2.5rem);
  line-height: 1.7;
}

.temp-display {
  font-size: clamp(1.2rem, 1.0268rem + 0.5543vw, 1.5rem);
}

.icon-wrapper {
  display: flex;
  justify-content: center;
}

.weather-icon {
  object-fit: cover;
  overflow: hidden;
  max-width: 100%;
}

.city-display,
.temp-display,
.desc-display,
.humidity-display,
.feels-like-display,
.wind-display {
  color: var(--bg-clr);
  line-height: 1.75rem;
}

.desc-display,
.humidity-display,
.feels-like-display,
.wind-display {
  font-size: clamp(0.95rem, 0.9211rem + 0.0924vw, 1rem);
}

.desc-display {
  font-weight: 800;
  text-transform: capitalize;
  margin: var(--space-s) 0 var(--space-m);
}
