@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,800;1,600&display=swap");

:root {
  /* --- Colors --- */
  --bg-clr: hsl(180, 100%, 10%);
  --text-clr: hsl(180, 100%, 50%);
  --overlay-shadow: hsla(180, 100%, 50%, 0.1);

  /* State Colors */
  --error-clr: hsl(0, 100%, 65%);
  --disabled-bg: hsl(0, 0%, 40%);
  --disabled-fill: hsl(0, 0%, 60%);

  /* Card Gradient */
  --card-gradient: linear-gradient(
    180deg,
    hsl(195, 53%, 69%),
    hsl(60, 100%, 55%)
  );

  /* --- Spacing & Layout --- */
  --space-s: 0.5rem;
  --space-m: 1rem;
  --space-l: 1.5rem;
  --radius-m: 1rem;

  /* --- Animation --- */
  --spinner-size: 50px;
  --spinner-thickness: 6px;
}

/* RESET STYLES */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BASE STYLES */

body {
  font-family: "Poppins", Arial, sans-serif;
  background-color: hsl(180, 100%, 10%);
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: min(2rem, 7%);
}

input,
button {
  border: none;
  outline: none;
  font-size: clamp(0.95rem, 0.8923rem + 0.1848vw, 1.05rem);
  font-family: inherit;
}
