@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,800;1,600&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", Arial, sans-serif;
  background-color: hsl(180, 100%, 10%);
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: min(2rem, 7%);
}

input,
button {
  border: none;
  outline: none;
  font-size: clamp(0.95rem, 0.8923rem + 0.1848vw, 1.05rem);
  font-family: inherit;
}
